
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    
</head>
<body>
    <h1>Menú</h1>
    <table>
        <tr>
            <p style="color:blue;"> <a href="{{url_for('consulta_productos')}}">Consultar productos</a> </p>        
        </tr>
        <tr>
            <p style="color:blue;"> <a href="{{url_for('alta_producto')}}">Alta productos</a> </p>        
        </tr>
    </table>
</body>
</html>
